.managerContainer {
  margin: 10px auto;
  width: 95%;
}

.buttonContainer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.buttonTransparent {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.titleDescription {
  width: 80%;
  font-size: 1em;
  margin: 40px auto 10px;
  text-align: center;
  letter-spacing: 2px;
  padding: 5px;
  border-bottom: solid 2px rgba(39, 36, 33, 0.5);
  max-width: 860px;
}
