.eventPageContainer {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eventPageInfo {
  max-width: 860px;
  width: 100%;
  margin: 10px auto 10px;
  overflow-x: scroll;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 55vh;
}

.eventTitle {
  width: 90%;
  max-width: 860px;
  font-family: "Amiko", sans-serif;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 3px;
  border-bottom: solid 2px var(--darkColor);
  text-align: center;
  position: relative;
  margin-top: 30px;
}

.separationLine {
  border-top: solid 2px var(--darkColor);
  width: 90%;
  max-width: 860px;
}

.addBtnContainer {
  position: relative;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--ligthColor);
  margin-top: 5px;
}

.addBtn {
  border: none;
  background: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: medium;
  font-size: 1em;
  letter-spacing: 3px;
  margin-left: 10px;
  cursor: pointer;
}
