@import url("https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  --ligthColor: #fce6ce;
  --inputColor: #cab8a5;
  --redColor: #9c1309;
  --darkColor: #272421;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--ligthColor);
  color: var(--darkColor);
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-family: "Amiko", sans-serif;
  font-weight: bold;
  letter-spacing: 5px;
}

h2 {
  font-family: "Amiko", sans-serif;
  font-weight: bold;
  letter-spacing: 5px;
}

.uploadcare--widget__button.uploadcare--widget__button_type_open {
  background-color: var(--redColor);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  width: 125px;
  height: 56px;
  margin: 14px auto;
  font-size: 0.8em;
  white-space: normal;
  letter-spacing: 3px;
  border-radius: 10px;
  cursor: pointer;
  padding: 0px;
}

.uploadcare--widget__button {
  font-family: "Amiko", sans-serif;
  font-size: 0.8em;
  font-weight: 600;

  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.uploadcare--widget__button.uploadcare--widget__button_type_open:hover {
  color: var(--darkColor);
  background-color: var(--redColor);
  font-size: 0.8em;
}

.uploadcare--widget__text {
  display: none;
}
