.formLogin {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 40px auto;
}

.labelForm {
  margin: 30px auto 5px;
  text-align: center;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 2px;
  cursor: pointer;
}

.inputForm {
  border: none;
  background-color: var(--inputColor);
  height: 40px;
  border-radius: 10px;
  text-align: center;
  color: var(--ligthColor);
  font-size: 0.9em;
  font-weight: 100;
  letter-spacing: 2px;
  outline: none;
  cursor: pointer;
}

.inputForm:focus {
  border: none;
  outline: none;
}

.btnForm {
  margin: 55px auto;
  width: 55%;
  height: 40px;
  border: none;
  background-color: var(--redColor);
  color: var(--ligthColor);
  font-family: "Amiko", sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 3px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.btnForm:hover {
  color: var(--darkColor);
}

.connectedStatus {
  text-align: center;
  font-size: 0.6em;
  font-weight: bold;
}

.welcomTitle {
  text-align: center;
  margin: 40px auto;
}

.welcomtext {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}
