.profilPageContainer {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 860px;
}

.userInfoContainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}

.avatar {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-color: var(--ligthColor);
}

.imageContainer {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userInfoCard {
  background-color: var(--darkColor);
  color: var(--ligthColor);
  height: 125px;
  width: 60%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 3px 5px var(--inputColor);
}

.titleInfoCard {
  font-weight: 600;
  font-size: 1em;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 90%;
}
.textTitle {
  width: 100%;
  text-align: center;
}
.textTitleDescription {
  width: 100%;
  text-align: center;
}

.detailInfoCard {
  display: flex;
  width: 80%;
  font-size: 0.8em;
  margin: 3px auto;
}
.icon {
  height: 20px;
  width: 20px;
}

.editIcon {
  height: 30px;
  width: 30px;
}

.editDarkIcon {
  height: 20px;
  width: 20px;
}

.textDetail {
  width: 100%;
  text-align: center;
  font-weight: 300;
}

.titleDescription {
  width: 80%;
  text-align: center;
  margin: 10px auto 25px;
  padding-top: 10px;
  border-top: solid 2px rgba(39, 36, 33, 0.5);
  display: flex;
  justify-content: space-between;
}

.contentDescription {
  width: 85%;
  height: 265px;
  margin: 0 auto;
  overflow-x: scroll;
  text-align: justify;
}
